<h2>@ViewData["PageTitle"]</h2>
<h3><site-sub-title/></h3>

<p><site-description/></p>


<p>I have been developing since I was very young at a hobby level.</p>
<p>My best friend's big brother was a, and still is, one of the geekiest people I know.</p>
<p>So whatever he played, we did and whatever he saw, we saw - and that's how I started programming.</p>
<p>I finished up school in 2012, with a diploma in Computer Science  and I have not looked back since.</p>
<br />
<br />
<p>I love being a developer, solving complex problems and creating software and working with architecture. </p>
<p>But even so, over the past few years I have gotten really interested in more manager-type things.</p>
<p>Both in an effort to bring more technical skills and knowledge into the discussion, something I have experienced is missing often</p>
<p>But also I was to help the developers I can being more productive and give them the tools, understanding and backup that is needed.</p>
<p>So I have started spending a lot of my time in the realm of cloud, DevOps and DevExp (Developer Experience).</p>
<p>Since I find that with these things there are many easy wins for the business, productivity and overall work enjoyment!</p>
<br />
<br />
<p>I used to play football (the american kind) as a hobby for many years.</p>
<p>I enjoy lifting weights, even though it has become more taxing with age.</p>
