@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <!-- Social Icons -->
    <ul class="icons">
        <li>
            <a href="#" class="icon brands fa-linkedin">
                <span class="label">LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon brands fa-github">
                <span class="label">Github</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon solid fa-envelope">
                <span class="label">Email</span>
            </a>
        </li>
    </ul>
</address>